body {
    background-color: #1e2024;
}

a {
    color: #fff;
    text-decoration: none;
}

.contact__link {
    color: #989a9b;
    text-decoration: none;
}


.Logo {
    margin-left: 50px;
    margin-top: 10px;
    width: 150px;
    height: auto;
}

.navbar {
    background: #292c31;
    margin-bottom: 0px;
    margin-top: -50px;
    margin-left: 300px;
    padding-left: 30px;
}


.navbar::before {
    content: "";
    width: 40px;
    height: 78.8px;
    position: absolute;
    background: #292c31;
    transform: skew(-20deg);
    margin-left: -55px;
}



.navbar a {
    padding: 10px;
    display: block;
    padding-top: 25px;
    transition: .3s linear;
}

.navbar ul {
    list-style: none;
    margin: 0;
    display: flex;
    border: 0;
}

.navbar ul li {
    margin-right: 10px;
    display: flex;

}

.navbar ul a:hover {
    background: #c59431;
}

navbar ul li:last-child {
    margin-right: 0;
}

.page_start {
    display: flex;
    text-align: center;

}

.contact__heading {
    color: #fff;
    margin-top: auto;
}

.contact {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: -50px;

}

.contact__icon {
    width: 40px;
    height: auto;
}

.contact__block {
    line-height: 0;
    font-size: 15px;
}

.d7 {
    margin-top: 40px;
    margin-left: 200px;
}

.d7 form {
    width: auto;
    float: right;
    margin-right: 30px;
}

.d7 input {
    width: 250px;
    padding-left: 15px;
    border-radius: 42px;
    background: #292c31;
    position: relative;
    transition: .3s linear;
}

.main_image {
    width: 100%;
    margin-top: 0px;
    height: auto;
}

::placeholder {
    color: #7c7d7e;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #7c7d7e;
}

.head_2 {
    color: #fff;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    font-size: 25px;
}


.section_1 {
    color: #fff;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 30px;
    padding-bottom: 30px;

}

.head_3 {

    color: #fff;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 50px;
    font-size: 25px;
}


.company {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.line {
    border-left: 1px solid #7c7d7e;
    padding-left: 1px;
}

.boring {
    color: #e59d34;
    margin-left: 150px;
    padding-top: 50px;

}

.intro {
    background-color: #292c31;
    display: flex;
    justify-content: center;
}

.darts1 {
    display: flex;
}

.intro__text {
    margin-left: 150px;
    color: #a6a6a6;
    padding-bottom: 50px;
    font-size: 25px;
    width: 500px;
}

.children1 {
    width: 220px;
    margin-left: 60px;
    padding-top: 50px;
    height: 330px;
    object-fit: contain
}

.children2 {
    width: 220px;
    margin-left: 40px;
    padding-top: 80px;
    height: 330px;
    margin-bottom: 50px;
    object-fit: contain
}

.arrow {
    width: 30px;
    height: auto;
    margin-top: 125px;
    margin-left: 20px;
}



.blocks {
    display: flex;
    margin-top: 70px;
    justify-content: center;
}

.block-category {
    background: #232c31;
    width: 300px;
    min-height: 250px;
    padding-top: 60px;
    padding-left: 30px;
    padding-bottom: 30px;
    margin-left: 20px;
    position: relative;
}

.block-category_name {
    color: #fff;
}

.block-category_text a {
    color: #7c7d7e;
    transition: .3s linear;
}

.block-category_text ul {
    list-style-type: none;
    padding-left: 0;
    padding-right: 30px;
    margin-top: -13px;
}

.block-category_text a:hover {
    opacity: 0.9;
    color: #c59431;
}



.block-category_link a {
    color: #7c7d7e;
    transition: .3s linear;
    position: absolute;
    bottom: 20px;
}

.block-category_link a:hover {
    opacity: 0.9;
    color: #c59431;
}


.popular__articles {
    width: 300px;
}

.box {
    background-color: #292c31;
    font-size: 37px;
    color: #fff;
    text-align: center;
    width: auto;
    min-height: 189px;
    padding-top: 70px;
    padding-bottom: auto;
    transition: opacity 0.2s ease-out;
    padding-right: 10px;
    padding-left: 10px;

}

.box:hover {
    opacity: 0.9;
}

.popular__articles__pictures {
    display: flex;
    height: 260px;
    width: auto;
    margin-bottom: 60px;
}

.court {
    width: 400px;
    height: auto;
    object-fit: contain;
    transition: opacity 0.2s ease-out;
}


.court:hover {
    opacity: 0.9;
}


.boks {
    width: 500px;
    margin-left: 100px;
    height: auto;
}

.thismonth {
    color: #fff;
    font-weight: 700;
    font-size: 40px;

}

.finding {
    color: #c59431;
    font-weight: 400;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.check {
    color: #fff;
    font-size: 30px;
    padding-top: 10px;
}

.top {
    font-size: 30px;
    color: #a0a0a0;
    font-style: italic;
    margin-top: -25px;
}

.activities {
    display: flex;
    margin-top: 0px;
    margin-bottom: 40px;
}

.texting {
    margin-left: 150px;
    padding-right: 200px;
}

.testimonial {
    background: #292c31;
    text-align: center;
    padding-top: 20px;
}

.something {
    color: #fff;
    text-align: center;
    font-size: 25px;

}


.employe {
    display: block;

}


.mahan {
    color: #c59431;
    text-align: center;
    margin-top: 20px;
}

.content_writer {
    font-size: 20px;
    color: #a0a0a0;
    text-align: center;
}

.rectangle {
    width: 100px;
    height: 5px;
    background: #777;
    margin-left: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.horizontal {
    display: flex;
    justify-content: center;

}

.colortext {
    color: fff;
}

.form_join {
    background: #e59d34;
    padding-top: 20px;
    padding-bottom: 40px;
}

.join {
    text-align: center;
    color: #1e2024;
}

.text_join {
    text-align: center;
    color: #1e2024;
    font-size: 25px;
    font-weight: 400;
}


.d8 form {
    width: auto;
    text-align: center;
}

.d8 input {
    width: 350px;
    padding-left: 15px;
    border-radius: 42px;
    position: relative;
    transition: .3s linear;
    padding: 17px;
}

body {
    margin: 0;
}

.manager_1 {
    text-align: center;
    display: block;
    margin: 0 auto;

}

.manager_2 {
    text-align: center;
    display: block;
    margin: 0 auto;

}

.manager_3 {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.text_manager {

    color: #e59d34;
    margin-top: 20px;

}

h1 {
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.manager {
    display: flex;
    text-align: center;
}

.findout {
    font-size: 30px;
    Text-align: center;
    color: #e59d34;
    padding-top: 30px;
    padding-bottom: 30px;

}

.footer {
    background-color: #292c31;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.links1 a {
    color: #a0a0a0;
    text-align: center;
    margin: 25px;

}

.hr {
    color: #a0a0a0;
    margin: auto;
    text-align: center;
    width: 835px;

}

.links1 a:hover {
    color: #c59431;
}

.copyright {
    color: #a0a0a0;
    text-align: center;
    font-size: 15px;
}

body {
    background: #1e2024;
}

.colortext {

    color: #fff;
}

.font-weight {
    font-weight: 700;
}

form {
    width: 400px;
    margin-top: 0px;
}

input {
    padding: 4px 10px;
    border: 0;
    font-size: 16px;
}

.margin {
    margin-bottom: 0px;
    margin-top: 0px;
}

.search {
    width: 45%;
}

.submit {
    width: 70px;
    background-color: #1c87c9;
    color: #ffffff;
}

.colortext {
    color: #fff;
}



.container {
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
    font-size: 25px;
}

.images11 {
    display: flex;
}


.search_button button {
    width: 20px;
    height: 20px;
    margin-left: 250px;
    background-color: #292c31;
    border-style: none;
    cursor: pointer;

}

.search_button img {
    width: 40px;
    height: auto;
    margin-left: -14px;
    margin-top: -13px;

}

.search_button {
    margin-top: -23px;
    position: relative;
    width: 20px;
    height: auto;
}

.sport_img {
    position: absolute;
    top: -65px;
    left: 50%; 
    transform: translateX(-50%); 
    width: 120px;
    height: 120px;
    object-fit: contain;
}


.rectangle_active {
    background: #c59431;
}

@media (max-width: 926px) {
    .rectangle {
        width: 15%;
    }
}


@media (max-width: 926px) {
    .navbar ul {
        display: block;
        text-align: center;
    }
}

@media (max-width: 926px) {
    .images11 {
        display: flex;
        text-align: center;
    }
}



@media (max-width: 926px) {
    .activities {
        display: block;
        text-align: center;
    }
}

@media (max-width: 926px) {
    .boks {
        margin-left: 110px;
        margin-bottom: 20px;
    }
}

@media (max-width: 926px) {
    .popular__articles__pictures {
        display: block;
        height: auto;
    }
}

@media (max-width: 926px) {
    .court img{
        width: 390px;
        height: auto;

    }
}

@media (max-width: 926px) {
    .box {
        width: auto; 
        padding-top: 0px;
        padding-bottom: 10px;
        min-height: 0px;
    }
}

@media (max-width: 926px) {
    .box a {
        padding-left: 0px;
        justify-content: center;

    }
}


@media (max-width: 926px) {
    .blocks {
        display: block;
        justify-content: center;
        position: relative;
        left: 0;
        top: 0;
    }
}

@media (max-width: 926px) {
    .block-category {
        padding-top: 30px;
        padding-bottom: 0px;
        max-width: 100%;
        margin-left: 33px;
    }
}

@media (max-width: 926px) {
    .block-category_text ul {
        padding-bottom: 23px;
    }
}


@media (max-width: 926px) {
    .arrow {
        display: none;
    }
}

@media (max-width: 926px) {
    .sport_img {
        width: 0;
    }
}


@media (max-width: 926px) {
    .boring {
        text-align: center;
    }
}



@media (max-width: 926px) {
    .children2 {
        margin-right: 15px;
    }
}


@media (max-width: 926px) {
    .company a {
        display: block;
        text-align: center;
        width: 100%;
    }
}


@media (max-width: 926px) {
    .line {
        display: block;
        border-left: 0px;
        padding-left: 0px;
    }
}

@media (max-width: 926px) {
    .company {
        margin-left: 0;
        display: block;
    }
}

@media (max-width: 926px) {
    .navbar {
        margin: 0px;
        display: block;
    }
}


@media (max-width: 926px) {
    .page_start {
        margin-bottom: 60px;
        display: block;
    }
}

@media (max-width: 926px) {
    .hr {
        margin-left: auto;
        width: 375px;
    }
}

@media (max-width: 926px) {
    .container {
        text-align: center;
        display: block;
        font-size: 15px;

    }
}

@media (max-width: 926px) {
    .links1 a {
        text-align: center;
        display: block;
    }
}

@media (max-width: 926px) {
    .manager {
        text-align: center;
        display: block;
    }
}

@media (max-width: 926px) {
    .manager_2 {
padding-top: 20px;
    }
}

@media (max-width: 926px) {
    .manager_3 {
padding-top: 20px;
    }
}

@media (max-width: 926px) {
    .texting {
        text-align: center;
        display: block;
        margin-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 926px) {
    .boks img {
        width: 340px;
        height: auto;
    }
}

@media (max-width: 926px) {
    .boks {
        margin-left: -50px;
    }
}

@media (max-width: 926px) {
    .intro {
        text-align: center;
        display: block;
        justify-content: center;
    }
}


    @media (max-width: 926px) {
        .intro__text {
            margin-left: 40px;
            width: 300px;
        }
    }

    @media (max-width: 926px) {
        .boring {
            margin-left: 0px;
            padding-top: 30px;
            text-align: center;
        }
    }


    @media (max-width: 926px) {
        .children1 {
            margin-left: 0px;
            padding-top: 0px;
        }
    }

    @media (max-width: 926px) {
        .children2 {
            margin-left: 0px;
            margin-right: 0px;
            padding-top: 0px;
        }
    }

    @media (max-width: 926px) {
        .head_2 {
            padding-bottom: 0px;
        }
    }



    @media (max-width: 926px) {
        .Logo {
            padding-bottom: 30px;
            margin-left: 0px;
            margin-left: 30px;

        }
    }

    @media (max-width: 926px) {
        .contact {
            justify-content: center;
        }
    }



    @media (max-width: 926px) {
        .d7 {
            margin-left: 0px;
            margin-bottom: 30px;
            justify-content: left;
        }
    }

    @media (max-width: 926px) {
        .form {
            width: 100px;
            margin: 10
        }
    }

    @media (max-width: 926px) {
        .footer {
            padding-top: 10px;
        }
    }

    @media (max-width: 926px) {
        .company_3 img {
            width: 360px;
        }
    }

    @media (max-width: 926px) {
        .d8 input {
            width: 300px;
        }
    }